
.ui-overlay-item {
    visibility: visible;
    display: flex;
    background: var(--color-snow_white);
    height: 30px;
    padding: 4px;
}

.small-avatar {
    width:24px !important;
    height:24px !important;
}

.pos-absolute {
    position: absolute;
}

.collapse-chip {
    background: #666 !important;
}

.noClick {
    pointer-events: none;
 }

 .selected.react-flow__node-prettyNode{
    box-shadow: 0px 0px 10px 0px #DFF0FF !important;
 }